.title {
    padding: .5rem 0;
    margin: 0 .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #FFFFFF;
}

.cart {
    max-height: 216px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    padding: 0 .5rem;

    .cart__item {
        display: flex;
        padding: .5rem;
        line-height: 2rem;
        gap: .5rem;
        justify-content: space-between;
        text-transform: uppercase;
        width: 100%;
        border-bottom: 1px solid #CCC;
        overflow: hidden;
        height: 3rem;
    }

    .cart__item--name {
        flex-basis: 70%;
    }
}

.footer {
    background-color: #FFFFFF;
    bottom: 0;
    position: fixed;
    width: 100%;
    .total {
        text-align: center;
        font-size: 2rem;
        margin: 0;
        color: rgb(0, 155, 21);
        font-weight: 700;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        
        .button {
            padding-bottom: .5rem;
            flex-basis: 150px;
            color: #FFFFFF;
            text-shadow: .125rem .25rem .275rem rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
            

        }

        .button-cancel {
            background-color: rgb(221, 101, 101);
            flex-grow: 1;
            border-radius: 25% 0 0 0;
        }
        
        .button-confirm {
            flex-grow: 1;
            background-color: rgb(101, 221, 101);
            border-radius: 0 25% 0 0;

        }

    }
}



@media screen and (min-width:992px) {
    .cart {
        max-height: 400px;
    }

    .footer {
        position: absolute;
    }
}