$titleHeight: 50px;

.div-cart {
    height: 60%;
    position: relative;
    background-color: #FFF;

    .title {
        color: #222222;
        font-weight: 700;
        font-size: 1.5rem;
        height: $titleHeight;
        margin: 0 .5rem;
        padding: .5rem 0;
        text-transform: uppercase;
        text-align: center;

    }

    .cart {
        /*max-height: 216px;*/
        //height: calc(100% - 48px - 116px);
        height: calc(100% - $titleHeight);
        scroll-behavior: smooth;
        overflow-y: scroll;
        padding: 0 .5rem;

        .cart__item {
            display: flex;
            padding: .5rem;
            line-height: 2rem;
            gap: .5rem;
            justify-content: space-between;
            text-transform: uppercase;
            width: 100%;
            border-bottom: 1px solid #CCC;
            overflow: hidden;
            height: 3rem;
        }

        .cart__item--name {
            flex-basis: 70%;
        }
    }
}





@media screen and (min-width:992px) {
    .div-cart {
        height: 70%;
    }
}