.type {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.products-container {
    overflow-x: scroll;
    width: 100%;
}

.products {
    display: flex;
    max-width: 200%;
    width: max-content;
    flex-wrap: wrap;
    gap: .5rem;
    padding: .5rem;

    .product:active {
        background-color: rgb(23, 190, 79);
        transition: .25s;
    }

    .product:hover {
        transform: scale(1.05);
        transition: .25s;
    }

    .product {
        align-items: flex-end;
        //border-radius: 1rem;
        //box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;

        overflow: hidden;


        position: relative;
        height: 80px;
        justify-content: space-between;
        width: 120px;

        .product__name {
            font-size: .75rem;
            //font-weight: 700;
            width: 100%;
            text-transform: uppercase;
        }

        .product__name,
        .product__price {
            margin: 0;
            padding-right: .25rem;
            z-index: 1;
            text-align: end;

        }

        .product__price {
            padding: .25rem;
            font-weight: 700;
            width: 75%;
            clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        }

        .product__image {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
            height: 100%;
            width: 35%;

        }

    }

}

@media screen and (min-width:992px) {
    .products-container {
        overflow-x: auto;
    }

    .products {
        width: 100%;

        .product {
            width: 200px;
            height: 100px;
        }
    }
}