.download-button {
    padding: .75rem;
    min-width: 50px;
    min-height: 50px;
    border-radius: .5rem;
}

.controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    .buttons .download-button {
        border-radius: 0;
    }

    input {
        padding: .75rem;
        margin-right: .125rem;


        &:focus {
            outline: .125rem solid rgb(0, 255, 0);
            background-color: #DDD;
        }
    }

    padding: .5rem;
}

.sales-print {
    border: 2px solid black;
    overflow: visible;
    max-width: 450px;
    width: 100%;

    z-index: -10;
    padding-bottom: 2rem;
    gap: .5rem;


    * {
        padding: 0;
    }

    .print__total {
        font-size: 1.5rem;
        width: max-content;

        b {
            width: max-content;
            margin-left: .5rem;
        }

    }

    .print__info {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;

        font-size: .75rem;

    }

    .print__info,
    .print__total {
        padding: .5rem 1rem;
    }

}