.download-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
    background-color: white;
    padding: .75rem;
    z-index: 20;
}

.sales-print {
    border: 2px solid black;
    overflow: auto;
    max-width: 450px;
    width: 100%;

    align-items: flex-end;
    z-index: -10;
    padding-bottom: 4rem;
    gap: .5rem;

    .print__date,
    .print__total {
        margin: .5rem;
    }

    .print__total {
        font-size: 1.5rem;
        position: absolute;
        bottom: 0;

        b {
            margin-left: .5rem;
        }
    }

}