.button {
    padding: 1rem .5rem;

    flex-basis: 50%;
    font-size: 1.25rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    height: 4rem;

}
.button:disabled {
    background-color: gray;
    color: rgb(158, 158, 158);
}