.button {
    padding: 1rem .5rem;
    border-radius: .5rem;
    margin: .5rem .25rem 0;

    flex-basis: 50%;
    font-size: 1.25rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    height: 4rem;

    transition: .25s;
}

.button:disabled {
    background-color: gray;
    color: rgb(158, 158, 158);
}

.button:enabled:hover {
    filter: brightness(125%);

    transition: .25s;
}