.button {
    padding: 1rem 1rem;

    flex-basis: 45%;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    max-width: 300px;

}