$lineNameHeigth: 1.25rem;

.productsType {
    .type {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--text);
    }

    .productsContainer {
        width: 100%;
        padding-bottom: 1rem;

        .products {
            display: flex;
            max-width: 100%;
            width: max-content;
            flex-wrap: wrap;
            gap: .5rem;
            justify-content: center;

            transition: .5s;

            .product:active {
                opacity: .5;
            }

            .product:hover {
                transform: scaleX(1.05);
                transition: .25s;
            }

            .product {
                border-radius: .25rem;

                box-shadow: var(--shadow);
                background-color: var(--item-color);
                color: var(--primary);

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 2.5rem 1fr 2.5rem;
                grid-template-areas:
                    "stock name name name"
                    "image image image count"
                    "image image image price";
                gap: .25rem;

                position: relative;

                &:not(:has(.product__image)) {
                    height: 120px;
                }

                height: 160px;
                width: 200px;

                text-align: end;

                .product__name,
                .product__price--value,
                .product__count,
                .product__stock {
                    padding: 0 .5rem;
                }

                .product__name {
                    grid-area: name;
                    //font: 1.125rem/1.5rem var(--font);
                    //font-weight: 300;
                    text-transform: uppercase;
                    //width: 100%;
                }

                .product__stock {
                    grid-area: stock;

                    color: var(--gray);
                    text-align: start;

                    &--label {
                        font-size: .5rem;
                        //writing-mode: vertical-rl;
                    }
                }

                .product__count {
                    grid-area: count;

                    font-size: 1.25rem;
                    margin-top: auto;
                    font-weight: 700;
                    text-shadow: var(--shadow);
                }

                .product__price {
                    grid-area: price;
                    position: relative;

                    &--value {
                        background-color: var(--primary);
                        color: var(--item-color);
                        clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);

                        position: absolute;
                        right: 0;
                        bottom: 0;

                        width: 300%;
                        height: 100%;
                        line-height: 2.5rem;

                        font-weight: 700;

                    }
                }

                .product__image {
                    grid-area: image;

                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            .product-in-the-cart {
                background-color: var(--primary);
                color: var(--background);

                .product__price--value {
                    background-color: var(--item-color);
                    color: var(--primary);
                }
            }

            .product-unavaliable {
                background-color: var(--item-color);
                color: var(--gray);

                .product__price--value {
                    background-color: var(--background);
                    color: var(--gray);
                }
            }

            .hidden-product {
                display: none;
            }

        }
    }

    .productsContainer.overflowX {
        overflow-x: scroll;

        .products {
            justify-content: left;
            max-width: 200%;

            .product {
                flex-grow: 0;
            }
        }
    }
}


@media screen and (min-width:992px) {
    .products {
        .product {
            width: 200px;
            height: 100px;
        }
    }
}