.productsType {
    .type {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    .productsContainer {
        width: 100%;
        padding-bottom: 1rem;

        .products {
            display: flex;
            max-width: 100%;
            width: max-content;
            flex-wrap: wrap;
            gap: .5rem;
            //padding-right: 1rem;
            justify-content: center;

            transition: .5s;

            .product:active {
                opacity: .5;
            }

            .product:hover {
                transform: scale(1.05);
                transition: .25s;
            }

            .product {
                border-radius: .25rem;

                box-shadow: var(--shadow);
                background-color: var(--item-color);

                align-items: flex-end;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                overflow: hidden;

                position: relative;

                min-height: 90px;
                width: 160px;

                flex-grow: 1;


                @media screen and (min-width: 992px) {
                    height: 100px;
                    width: 200px;
                }


                .product__name {
                    //font-size: .75rem;
                    width: 75%;
                    font-weight: 300;
                    text-transform: uppercase;
                    //width: 100%;
                }

                .product__name,
                .product__price {
                    margin: 0;
                    padding-right: .25rem;
                    z-index: 1;
                    text-align: end;
                }

                .product__price {
                    padding: .25rem;
                    font-weight: 700;
                    background-color: var(--primary);
                    color: var(--white);
                    width: 75%;
                    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
                }

                .product__image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: contain;
                    height: 100%;
                    width: 35%;
                }
            }

            .product-in-the-cart {
                background-color: var(--primary);
                color: var(--white);

                .product__price {
                    background-color: var(--background);
                    color: var(--dark);
                }
            }

        }
    }

    .productsContainer.overflowX {
        overflow-x: scroll;

        .products {
            justify-content: left;
            max-width: 200%;

            .product {
                flex-grow: 0;
            }
        }
    }
}


@media screen and (min-width:992px) {
    .products {
        .product {
            width: 200px;
            height: 100px;
        }
    }
}