.productForm-container {

    .productForm {
        max-width: 500px;
        margin: auto;
        padding: 1rem;


        &__group {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: .5rem;
            flex-wrap: wrap;

            &--label {
                flex-basis: 30%;
                text-transform: uppercase;
                font-weight: 700;
                color: var(--primary);

            }

            &--input {
                padding: .75rem;
                border-radius: 1rem;
                background-color: var(--item-color);
                border: .125rem solid var(--primary);
                color: var(--primary);
                flex-basis: 70%;

                &::placeholder {
                    //color: var(--primary);
                }
            }

            span {
                width: 100%;
                text-align: end;
            }
        }
    }

}