.main-formAuth {
    background-color: var(--primary);
}

.auth-form-container {
    padding: 1rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 600px;
    width: calc(100% - 2rem);
    background-color: var(--background);
    border-radius: 1rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.25);

    .form-title {
        position: relative;

        &::after {
            width: 20%;
            height: 4px;
            background-color: var(--white);
            right: 0;
            top: 50%;
            content: '';
            position: absolute;
        }

        &::before {
            width: 20%;
            height: 4px;
            background-color: var(--white);
            left: 0;
            top: 50%;
            content: '';
            position: absolute;
        }
    }


    .form-group {
        margin: 1rem 0;


        .form-field {
            width: 100%;
            border-radius: 1rem;
            box-shadow: var(--shadow);

            padding: 1rem;

            &:focus {
                outline: .25rem solid var(--primary);
            }
        }

    }

}

.error-message {
    color: rgb(214, 55, 55);
}