.button-sales {
    flex-basis: 50%;
    //background-color: green;
    text-transform: uppercase;
    border-bottom: .25rem solid;
    margin: 1rem 0;
    color: var(--gray);

    &.active {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--primary);
        border-color: var(--primary);
    }
}

.sale {
    .sale__header {
        background-color: var(--primary);
        margin-top: .5rem;
        color: var(--white);
        display: flex;
        justify-content: space-between;
        padding: .75rem .5rem;

        &--total {
            font-weight: 700;
            font-size: 1.25rem;

            &::before {
                content: 'R$ ';
            }
        }
    }

}

.sale-selected {

    .sale__header--toggleIcon {
        transform: rotateZ(90deg);
        transition: .25s;
    }
}