.stock-list {
    /*max-height: 216px;*/
    //height: calc(100% - 48px - 116px);
    //max-height: 80%;
    position: relative;
    padding: .75rem .5rem;
    background-color: var(--secondary);
    gap: .25rem;
    color: var(--primary);

    .product__item {
        background-color: var(--item-color);
        border-radius: .5rem;
        box-shadow: var(--shadow);
        height: 3rem;
        padding-left: .5rem;
        margin-top: .25rem;

        align-items: center;
        display: flex;
        gap: .5rem;
        justify-content: space-between;

        text-transform: uppercase;
        overflow: hidden;

        .product__item--name {
            flex-basis: 70%;
        }

        .product__item--quantity {
            flex-basis: 30%;
            display: flex;
            justify-content: center;
            gap: 1rem;
        }

        &:first-child {
            background-color: #EEEEEE;
            font-weight: 700;
        }

    }




}