$headerHeigth: 4rem;

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --background: #CAEFB7;
    --primary: #579853;
    --red: #E55454;
    --gray: #8F8F8F;
    --item-color: #E5F7DB;
    --white: #FFFFFF;
    --dark: #000000;

    --shadow: 0 .25rem .25rem #00000022;
    //--secondary: #CCCCCC;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {

    height: 100vh;
    z-index: 0;
    width: 100vw;
    background-color: var(--background);
}

main {}

.title {
    font-size: 2rem;
    color: var(--white);
    text-shadow: var(--shadow);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


.page {
    padding-top: $headerHeigth;
    height: 100vh;
    background-color: var(--background);
}

@media screen and (min-width: 992px) {

    .page {
        padding: 0 7rem;
    }
}