$headerHeigth: 4rem;

:root {
    --background: #FFFFFF
}

* {
    font-family: 'Roboto', sans-serif;
}

body {

    height: 100vh;
    z-index: 0;
    width: 100vw;
}

main {
    height: calc(100vh - $headerHeigth);
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.page {
    background-color: var(--background);
}

@media screen and (min-width: 992px) {
    body>*>*>* {
        padding: 0 7rem;
    }
}