$headerHeight: 4rem;

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    //--background: #CAEFB7;
    //--primary: #579853;
    //--red: #E55454;
    //--gray: #8F8F8F;
    //--item-color: #E5F7DB;
    //--white: #FFFFFF;
    --background: #EEE; //#F0F8FF;
    --primary: #45C567; // #72cf8a; #6FBB85;

    --light-green: #b1e4aa;
    --red: #E55454;
    --gray: #888888;
    --item-color: #ffffff;
    --white: #FFFFFF;
    --text: #444;
    --dark: #33924c;

    --border: .25rem solid var(--dark);

    --shadow: 0 .125rem .25rem rgba(0, 0, 0,
            /*0.25*/
            0);
    --font: 'Montserrat', sans-serif;
    //--secondary: #CCCCCC;
}

.dark-mode:root {
    --background: #333;
    --text: #FFF;
    --item-color: #444;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: var(--text);
    height: 100vh;
    z-index: 0;
    width: 100vw;
    background-color: var(--background);
}

.title {
    font-size: 1.75rem;
    color: var(--primary);
    text-shadow: var(--shadow);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--primary);
    //text-shadow: var(--shadow);
    font-weight: 700;
    //text-transform: uppercase;
    text-align: left;
    margin-left: .5rem;
}

.list-section {
    padding-top: 1rem;
    padding-bottom: 7rem;
}

.pageFull {
    height: 100vh;
}

.page {
    padding: $headerHeight .5rem 0;
    width: 100vw;
    background-color: var(--background);
    min-height: 100vh;

    //overflow-y: scroll;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 1440px) {
    .page {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}