.div-parent {
    height: 0;
    width: 0;
    top: .5rem;
    left: 0;
    position: relative;
    transition: .25s;

}

.navBar-inactive {
    //perspective: 6cm;
    transform: rotateY(-90deg) skewY(10deg);
    transition: .25s;
}

.navBar {
    position: relative;
    border: .125rem solid var(--background);
    background-color: var(--primary);
    //width: 95%;
    border-radius: 0 1rem 1rem 0;
    padding: 2rem 1rem;
    width: 100px;

    top: 0;
    left: 0;

    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: .5rem;


    transition: .25s;


    .navBar__list--item {
        border-radius: .25rem;
        color: #FFFFFF;
        line-height: 2rem;
        max-height: 4rem;
        margin-top: 1rem;
        text-transform: uppercase;


    }
}

.button-nav {
    position: absolute;
    left: 1rem;
    top: .5rem;

    z-index: 15;

}