.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 30;

    .modal__content {
        background-color: white;
        height: 50%;
        width: 80%;
        max-width: 500px;
        border-radius: 1rem;
        margin: auto;
        padding: .5rem .25rem;
        overflow: hidden;

        .modal__content--text {
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
        }
    }
}