.order {
    /*max-height: 216px;*/
    //height: calc(100% - 48px - 116px);
    //max-height: 80%;
    position: relative;
    padding: 0 .5rem .5rem;
    gap: .5rem;
    color: var(--primary);
    //border-top: .125rem solid;

    .order__item {
        background-color: var(--item-color);
        border-radius: .5rem;
        box-shadow: var(--shadow);
        height: 3rem;
        padding-left: .5rem;
        margin-top: .25rem;

        align-items: center;
        display: flex;
        gap: .5rem;
        justify-content: space-between;

        text-transform: uppercase;
        overflow: hidden;

        .order__item--name {
            flex-basis: 70%;
        }

        .order__item--price {
            //text-align: end;
            margin-right: .5rem;
        }

        .edit-button {
            height: 100%;
            aspect-ratio: 1/1;
            background-color: var(--primary);
        }

        // &:first-child {
        //     background-color: unset;
        //     box-shadow: none;
        //     height: auto;
        //     font-weight: 700;
        // }

    }




}

.overflowHidden {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.flexOverflow {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap;
}