.order {
    /*max-height: 216px;*/
    //height: calc(100% - 48px - 116px);
    //max-height: 80%;
    position: relative;
    padding: .75rem .5rem;
    background-color: var(--secondary);
    gap: .25rem;
    color: var(--primary);

    .order__item {
        background-color: var(--item-color);
        border-radius: .5rem;
        box-shadow: var(--shadow);
        height: 3rem;
        padding: .5rem;
        margin-top: .25rem;

        align-items: center;
        display: flex;
        gap: .5rem;
        justify-content: space-between;

        text-transform: uppercase;
        overflow: hidden;

        .order__item--name {
            flex-basis: 70%;
        }

        &:first-child {
            background-color: #EEEEEE;
            font-weight: 700;
        }

        &:last-child {
            border-bottom: none;
        }
    }




}

.overflowHidden {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.flexOverflow {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap;
}