$listIconWidth: 32px;


header {
    height: 4rem;
    width: 100%;
    background-color: var(--primary);
    position: fixed;
    //padding: 0 .5rem;
    z-index: 15;
    box-shadow: inset 0 (-.25rem) 0 var(--dark);

}


.navigation {
    padding: .5rem 1rem 0;
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 100%;
    flex-basis: auto;
    align-items: flex-end;
    position: relative;



    .div-link {
        height: 3rem;
        flex-basis: calc((100% - $listIconWidth)/3);
        color: var(--background);
        text-align: center;
        line-height: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.25rem;

        .nav-link {
            margin: .5rem 0;
        }

        .link {
            display: inline-block;
            background-color: var(--primary);
            height: 100%;
            width: 100%;
            //border-radius: 1rem;

            transition: .25s;

            &:not(.active) {
                border-bottom: var(--border);
            }

            &:hover:not(.active) {
                filter: brightness(1.25);
            }

            &>* {
                margin: .5rem auto;
            }
        }

        /*

        &:nth-child(2) .link:not(.active) {
            border-radius: 1rem 1rem 1rem 0;
            border-bottom: $lineHeight solid var(--dark);
        }

        &:nth-child(3) .link:not(.active) {
            //border-radius: 1rem 1rem 0 1rem;
            border-bottom: $lineHeight solid var(--dark);
        }

        &:nth-child(4) .link:not(.active) {
            border-radius: 0 0 0 1rem;
            border-bottom: $lineHeight solid var(--dark);
        }*/


        &:nth-child(1) {
            flex-basis: $listIconWidth;
            position: relative;
            margin-right: .5rem;
            border-bottom: var(--border);
            //padding: .5rem;
            background-color: var(--primary);

            .link.logout {
                border-radius: .25rem;
                font-weight: 400;
                position: relative;
                background-color: var(--background);
                color: var(--primary);

                display: flex;
                align-items: center;


                span {
                    text-align: center;
                    width: 100%;
                    font-size: 1rem;
                }

            }
        }
    }

    .link.active {
        background-color: var(--background);
        border-radius: 1rem 1rem 0 0;
        color: var(--primary);
        border-top: var(--border);
    }
}