.stock-list {
    /*max-height: 216px;*/
    //height: calc(100% - 48px - 116px);
    //max-height: 80%;
    position: relative;
    padding: .75rem .5rem;
    background-color: var(--secondary);
    gap: .25rem;
    color: var(--primary);

    .item {
        background-color: var(--item-color);
        border-radius: .5rem;
        box-shadow: var(--shadow);
        height: 3rem;
        padding-left: .5rem;
        margin-top: .25rem;

        align-items: center;
        display: flex;
        gap: .5rem;
        justify-content: space-between;

        text-transform: uppercase;
        overflow: hidden;

        .item__name {
            flex-basis: 70%;
        }

        .item__quantity {
            align-items: center;
            display: flex;
            flex-basis: 30%;
            width: 30%;

            gap: 1rem;
            justify-content: center;

            height: 100%;
            position: relative;

            &:has(button) {
                justify-content: space-between;
            }


            .button-minus,
            .button-plus {
                aspect-ratio: 1/1;
                max-width: calc(100% / 3);
                height: 100%;
                color: var(--white);
            }

            .button-minus {
                background-color: var(--gray);
            }

            .button-plus {
                background-color: var(--primary);
            }


            .quantity__diff {
                color: var(--white);
                display: inline-block;

                font-size: .75rem;
                line-height: 1rem;
                height: 1rem;
                min-width: 2rem;

                top: 0;
                right: 0;
                position: absolute;

                text-align: end;
                padding: 0 .25rem;

                &.positive-diff {
                    background-color: var(--primary);
                }

                &.negative-diff {
                    background-color: var(--gray);
                }
            }


            .quantity__value {
                color: var(--dark);
            }
        }
    }

    &:first-child {
        background-color: #EEEEEE;
        font-weight: 700;
    }

}