.stock-list {
    /*max-height: 216px;*/
    //height: calc(100% - 48px - 116px);
    //max-height: 80%;
    position: relative;
    padding: .75rem 0;
    background-color: var(--secondary);
    gap: .25rem;
    color: var(--primary);

    .item {
        background-color: var(--item-color);
        border-radius: .5rem;
        box-shadow: var(--shadow);
        height: 3rem;
        margin-top: .5rem;

        align-items: center;
        display: flex;
        justify-content: space-between;

        overflow: hidden;

        text-transform: uppercase;

        .item__name {
            flex-basis: 70%;
            padding-left: .5rem;
        }

        .item__quantity {
            align-items: center;
            display: flex;
            flex-basis: 30%;
            max-width: 30%;

            justify-content: center;

            height: 100%;
            position: relative;

            &:has(button) {
                justify-content: space-between;
            }


            .button-minus,
            .button-plus {
                //aspect-ratio: 1/1;
                width: 30%;
                height: 100%;
                color: var(--white);
                box-shadow: var(--shadow);
            }

            .button-minus {
                background-color: var(--gray);
            }

            .button-plus {
                background-color: var(--primary);
            }


            .quantity__diff {
                color: var(--white);
                display: inline-block;

                font-size: .75rem;
                line-height: 1rem;
                height: 1rem;

                top: 0;
                position: absolute;

                text-align: end;
                padding-right: .25rem;

                &.positive-diff {
                    right: 0;

                }

                &.negative-diff {
                    left: 0;

                }
            }


            .quantity__value {
                color: var(--dark);
                text-align: center;
                width: 40%;
            }
        }

    }


}