.productForm {
    margin: auto;
    max-width: 600px;
    padding: 0 .25rem;

    .form-data {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        gap: .25rem;
    }

    .div-main {
        grid-column: span 2;

    }

    .div-image {
        display: grid;
        grid-template-columns: 3rem auto;
        margin-top: auto;
        grid-template-rows: auto 3rem;
        height: fit-content;
        gap: .25rem;

        * {
            border-radius: .25rem;
            box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .25);
        }

        .div-preview {
            background-color: var(--item-color);
            aspect-ratio: 1/1;
            overflow: hidden;
            grid-column: span 2;
        }

        .edit-image {
            background-color: var(--primary);
            text-transform: uppercase;
            text-align: center;
            color: var(--white);
        }

        .delete-image {
            background-color: var(--red);
        }

    }

    .div-details {
        .field {
            flex-direction: column;

            &.optional {
                opacity: .5;
            }

            &--label {
                align-self: flex-start;
            }

            &--input {
                width: 100%;
            }
        }
    }

    legend,
    .field--label {
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .prices {
        .field {
            font-weight: 400;

            .field--label {
                font-size: 1rem;
            }
        }

    }

    .field {
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin-bottom: .5rem;

        &--label {
            text-transform: uppercase;
            font-weight: 700;
            color: var(--text);
            width: 30%;
        }


        input {
            color: var(--primary);
            padding: .5rem;
            border-radius: .25rem;
            //background-color: var(--item-color);
            flex-grow: 1;
            box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .25);

            //border: 1px solid var(--primary);

        }
    }


}